:root{
    --very-dark-grayish-blue:hsl(217, 19%, 35%);
    --desaturated-dark-blue:hsl(214, 17%, 51%);
    --grayish-blue:hsl(212, 23%, 69%);
    --light-grayish-blue:hsl(210, 46%, 95%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Manrope', sans-serif;
    font-size: 62.5%;
}
body{
width: 100%;
height: 100vh;
background-color: var(--light-grayish-blue);
}
main{
    padding: 80px 20px 20px 20px;
    display: grid;
    grid-template-rows: 1fr;
    place-content: center;
}
article{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width: 330px;
    
}
article img{
    width: 100%;
    height: 220px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}
article .details{
    margin: 35px 25px 20px 25px;
}
.details .details-h3{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--desaturated-dark-blue);
    margin-bottom: 20px;
}
.details .details-p{
    font-size: 1.5rem;
    color: var(--grayish-blue);
    font-weight: bold;
    margin-bottom: 20px;
}
.user-info{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.user-info .info img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.user-info picture{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--light-grayish-blue);
    justify-self: flex-end;
    display: grid;
    place-content: center;
}
.user-info picture:hover{
    cursor: pointer;
    background-color: var(--grayish-blue);
}
.user-info picture img{
    width: 18px;
    height: 18px;
}
.share{
    display: none;
    width: 320px;
    height: 85px;
    background-color: var(--very-dark-grayish-blue);
    border-radius: 10px;
    position: absolute;
    margin-top: -28px;
    margin-left: -21px;
    box-shadow: 1px 1px 3px 3px rgb(134, 115, 197);
    padding: 5px;
    gap: 10px;
}
.share-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.share-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(233, 220, 220);
}
.share-head strong{
    font-size: 15px;
    color: white;
    font-weight: bold;
}
.cerrar{
    display: block;
    font-size: 14px;
    color: white;
    font-weight: bold;
}
.cerrar:hover{
    cursor: pointer;
}
.cerrar .close-image{
width: 22px;
height: 22px;
}
.social{
    text-decoration: none;
    display: block;
    
}
.social img{
    width: 40px;
    height: 40px;
}
/* Class for section share */
.active{
    display: grid;
    grid-template-rows: 23px 1fr;
}
/*  */

.info{
    display: flex;
    flex-direction: row;
}
.info div{
    margin-left: 10px;
}
.info .info-name{
    color: var(--very-dark-grayish-blue);
    font-size: 1.5rem;
    font-weight: bold;
}
.info .info-date{
    color: var(--grayish-blue);
    font-size: 1.4rem;
}
.attribution{
    width: 330px;
    height: 30px;
    margin: 0 auto;
    padding-top: 10px;
}
.attribution .attr{
    font-size: 1.2rem;
}
@media screen and (min-width:700px) {
    main{
        padding: 0;
        display: grid;
        height: 100vh;
        grid-template-columns: 640px;
        grid-template-rows: 300px 50px;
        place-content: center;
    }
    article{
        flex-direction: row;
        width: 100%;
    }
    article img{
        height: 100%;
        width: 45%;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 0;

    }
    .details{
        width: 55%;
    }
    .attribution{
        place-self: center;
    }
    .share{
        margin-left: 2px;
        margin-top: -90px;
    }

}
